@charset 'UTF-8';
/* Google fonts */
@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  width: 100%;
  height: 100%;
  font-size: 15px;
}

html {
  width: 100%;
  height: 100%;
}



/* Sections setting
==================================================================== */

/* Intro
-------------------------------------------------- */
.intro-section {
  /*height: 100%;*/
  min-height: 100%;
  height:auto;
  padding-top: 30vh;
  text-align: center;
  /*background: #bbb;*/
  background: url('../images/overlay.png'), url('../images/chunmin/kinmen_tiny.jpg');
  background-size: 256px 256px, cover;
	background-attachment: fixed, fixed;
	background-position: top left, center;
	background-repeat: repeat, no-repeat;
  /*background: url('../images/cover.png');
  background-size: contain;
	background-attachment: fixed;
	background-position: right;
  background-repeat: no-repeat;*/
  height: 100%;
  overflow: hidden;
}

@media(min-width:500px) {
  .intro-section {
    background: url('../images/overlay.png'), url('../images/chunmin/kinmen_extend_2.jpg');
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, center;
    background-repeat: repeat, no-repeat;
  }
}

.intro-section .title {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight:bold;
  color: white;
  /*color: #444444;*/
  font-size: 3.25em;
	letter-spacing: 2px;
	line-height: 1.25em;
  text-decoration: none;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Orbitron', sans-serif;
}

.intro-section .subtitle {
  text-transform: uppercase;
  font-weight:lighter;
  color: white;
  /*color: #222222;*/
  font-size: 1.3em;
	letter-spacing: 5px;
	line-height: 2em;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

/* About
-------------------------------------------------- */
img.headshot{
  border-radius: 50%;
  /*margin-top:20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;*/
}

.about-section {
  /*height: 100%;*/
  min-height: 100%;
  height: auto;
  padding-top: 150px;
  padding-bottom: 100px;
  text-align: center;
  /*background: #eee;*/
  background: url('../images/Grey-Pattern.jpg');
	background-attachment: fixed;
	background-position: top left;
	background-repeat: repeat;
}

.about-section .myPhoto {
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0;
  padding: 0;
  background-image: url("../images/chunmin/me_mini_tiny.jpg");
}

/*img.myPhoto {
  height:100%;
  width: 100%;
}*/

.about-section .container {
  text-align: left;
}

.about-section .container .hi{
  display: inline;
}

.about-section .container .self-intro {
  font-size: 17px;
}

.about-section .container .contact-bar {
  margin-top: 30vh;
}

.about-section .container .contact-bar a {
  color: inherit;
}

/* Works
-------------------------------------------------- */
.works-section {
  /*height: 100%;*/
  min-height: 100%;
  height: auto;
  padding-top: 100px;
  text-align: center;
  /*background: #ddd;*/
  background: url('../images/old_wall.jpg');
	background-attachment: fixed;
	background-position: top left;
	background-repeat: repeat;
}

.works-section .title {
  text-transform: uppercase;
  font-weight:bold;
  color: black;
  font-size: 3.25em;
	letter-spacing: 2px;
	line-height: 1.25em;
  text-decoration: none;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Orbitron', sans-serif;
}

.works-section .subtitle {
  text-transform: uppercase;
  font-weight:lighter;
  color: black;
  font-size: 1.3em;
	letter-spacing: 5px;
	line-height: 2em;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

/* Technical
-------------------------------------------------- */
.technical-section {
  /*height: 100%;*/
  min-height: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 90px;
  text-align: center;
  /*background: #777;*/
  background: url('../images/blank-wall.jpg');
  background-size: cover;
	background-position: 50% 80%;
	background-repeat: no-repeat;
}

.technical-section .title {
  text-transform: uppercase;
  font-weight:bold;
  color: black;
  font-size: 3.25em;
	letter-spacing: 2px;
	line-height: 1.25em;
  text-decoration: none;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Orbitron', sans-serif;
}

/* Talks
-------------------------------------------------- */
.publication-title {
  margin-top: 0vh;
  text-transform: uppercase;
  font-weight:bold;
  color: black;
  font-size: 3.25em;
	letter-spacing: 2px;
	line-height: 1.25em;
  text-decoration: none;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Orbitron', sans-serif;
}

.publication-table-heading {
  font-weight:bold;
  font-size: 1.3em;
}

.talks-section {
  min-height: 100%;
  height: 100%;
  padding-top: 100px;
  text-align: center;
  /*background: #ccc;*/
  background: url('../images/2560x1440_Triangles.png');
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.talks-section .container {
  text-align: left;
}

/* Notes
-------------------------------------------------- */
.notes-section {
  min-height: 100%;
  height: 100%;
  padding-top: 100px;
  text-align: center;
  /*background: #ccc;*/
  background: url('../images/Grey-Pattern.jpg');
	background-attachment: fixed;
	background-position: top left;
	background-repeat: repeat;
}
.notes-section .container {
  text-align: left;
}


/* Reports
-------------------------------------------------- */
/*.reports-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #bbb;
}

.reports-section .container {
  text-align: left;
}*/

.reports-section {
  /*height: 100%;*/
  min-height: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background: url('../images/White-Brick-Wall-With-Modern-Design.jpg');
  background-size: cover;
	background-position: 25% 75%;
	background-repeat: no-repeat;
}

.reports-section .title {
  text-transform: uppercase;
  font-weight:bold;
  color: black;
  font-size: 3.25em;
	letter-spacing: 2px;
	line-height: 1.25em;
  text-decoration: none;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Orbitron', sans-serif;
}

/* Button
==================================================================== */
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 100%!important;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
  color: #fff;
  background: rgba(255,255,255,.1);
}



/* Image
==================================================================== */
.image {
  position: relative;
  display: inline-block;
  border: 0;
  outline: 0;
}

.image img {
  display: block;
  width: 100%;
}




/* Navigation Bar
==================================================================== */
/**
 * Default Setting
 */
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
  text-transform: uppercase;
  background-color: #fff;
}

/**
 * Adjust by screen-size
 */
@media(min-width:767px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .navbar-custom.top-nav-collapse {
    padding: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    background: #fff;
  }
}

/**
 * Toggle navigation for mobile
 */
.navbar-custom .navbar-toggle {
  border-color: #ddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-custom .navbar-collapse,
/*.navbar-custom .navbar-form*/ {
  border-color: #e7e7e7;
}

/**
 * Default text-color
 */
.navbar-custom a {
  color: #333333;
}

/**
 * text-color when mouse hover it
 */
.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
  outline: 0;
  color: rgba(200,200,200,.8);
  background-color: transparent;
}

/**
 * text-color and background when navigating
 */
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
}

.navbar-custom .nav li.active {
  outline: 0;
}

.navbar-custom .nav li.active a {
  color: #fff;
  background-color: rgba(0,0,0,0.6);
}

.navbar-custom .nav li.active a:hover {
  color: #000;
}



/* Gallery
==================================================================== */
.gallery {
  position: relative;
  width: auto;
  overflow: hidden;
  padding: 2em 0 4em 0;
  margin-bottom: 0;
  /*white-space: nowrap;*/
}

.gallery .reel {
  white-space: nowrap;
  position: relative;
  -webkit-overflow-scrolling: touch;
  padding: 0 2em 0 2em;
}

.gallery .reel .item {
  display: inline-table;
  /*display: table-cell;*/
  width: 20em;
  /*height: 25em;*/
  background: #fff;
  text-align: center;
  padding: 0 1em 1em 1em;
  margin: 0 2em 0 0;
  white-space: normal;
  opacity: 1.0;
  -moz-transition: opacity 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
}

.gallery .reel .item h2 {
  position: relative;
  height:60px;
  font-size: 20px;
  vertical-align: middle;
}

.gallery .reel .item p {
  font-size: 15px;
  height:40px;
}

.gallery .reel .item.loading {
  opacity: 0;
}

/* Image in gallery
-------------------------------------------------- */
.gallery .reel .item .image {
  position: relative;
  left: -1em;
  top: 0;
  width: auto;
  margin-right: -2em;
  margin-bottom: 0em;
}

.gallery .reel .item .image img {
  height:230px;
  width:100%;
}


/* forward, backward controllr in gallery
-------------------------------------------------- */
.gallery .forward,
.gallery .backward {
  position: absolute;
  top: 50%;
  width: 6em;
  height: 12em;
  margin-top: -6em;
  cursor: pointer;
}

.gallery .forward:before,
.gallery .backward:before {
  content: '';
  display: block;
  width: 6em;
  height: 6em;
  border-radius: 100%;
  background-color: rgba(72, 57, 73, 0.5);
  position: absolute;
  top: 50%;
  margin-top: -3em;
  -moz-transition: background-color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out;
  -webkit-backface-visibility: hidden;
}

.gallery .forward:after,
.gallery .backward:after {
  content: '';
  width: 3em;
  height: 3em;
  position: absolute;
  top: 50%;
  margin: -1.5em 0 0 0;
  background: url("../images/gallery/arrow.svg") no-repeat center center;
}

.gallery .forward:hover:before,
.gallery .backward:hover:before {
  background-color: rgba(239, 131, 118, 0.75);
}

.gallery .forward {
  right: 0;
}

.gallery .forward:before {
  right: -3em;
}

.gallery .forward:after {
  right: -0.25em;
}

.gallery .backward {
  left: 0;
}

.gallery .backward:before {
  left: -3em;
}

.gallery .backward:after {
  left: -0.25em;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
