@charset 'UTF-8';
/* Google fonts */
@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900);

body {
  width: 100%;
  height: 100%;
  font-size: 15px;
}

html {
  width: 100%;
  height: 100%;
}



/* Sections setting
==================================================================== */

/* Intro
-------------------------------------------------- */
.intro-section {
  min-height: 100%;
  height:auto;
  padding-top: 150px;
  text-align: center;
  background: url('../../images/overlay.png'), url('../../images/works/ECT/ECT_mini_tiny.jpg');
  background-size: 256px 256px, cover;
	background-attachment: fixed, fixed;
	background-position: top left, center;
	background-repeat: repeat, no-repeat;
}

.intro-section .title {
  text-transform: uppercase;
  font-weight:bold;
  color: white;
  font-size: 3.5em;
	letter-spacing: 2px;
	line-height: 1.25em;
  text-decoration: none;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Orbitron', sans-serif;
}

.intro-section .subtitle {
  text-transform: uppercase;
  font-weight:lighter;
  color: white;
  font-size: 1.3em;
	letter-spacing: 5px;
	line-height: 2em;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}


/* What it does
-------------------------------------------------- */
.whatitdoes-section {
  min-height: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  /*background: #eee;*/
  background: #fff;
}

.whatitdoes-section .title {
  text-transform: uppercase;
  font-weight:bold;
  color: black;
  font-size: 3.25em;
	letter-spacing: 2px;
	line-height: 1.25em;
  text-decoration: none;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Orbitron', sans-serif;
}

.whatitdoes-section .subtitle {
  text-transform: uppercase;
  font-weight:lighter;
  color: black;
  font-size: 1.3em;
	letter-spacing: 5px;
	line-height: 2em;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.whatitdoes-section div.feature-icon{
  height: 30vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30vh auto;
  margin: 0;
  padding: 0;
}

.whatitdoes-section p.feature {
  font-size: 1.2em;
}

.whatitdoes-section .abstract {
  text-align: left;
  margin-top: 30px;
  font-size: 20px;
  font-family: "Source Sans Pro",sans-serif;
}

#positioning{
  background-image: url("../../images/works/ECT/geo-location_tiny.png");
}

#trajectory{
  background-image: url("../../images/works/ECT/lightblue-path_tiny.png");
}

#motion{
  background-image: url("../../images/works/ECT/runner_icon.svg");
}

/* How it works
-------------------------------------------------- */
.howitworks-section {
  min-height: 100%;
  height: auto;
  padding-top: 100px;
  text-align: center;
  background: #fff;
}

.howitworks-section .title {
  text-transform: uppercase;
  font-weight:bold;
  color: black;
  font-size: 3.25em;
	letter-spacing: 2px;
	line-height: 1.25em;
  text-decoration: none;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Orbitron', sans-serif;
}

.howitworks-section .subtitle {
  text-transform: uppercase;
  font-weight:lighter;
  color: black;
  font-size: 1.3em;
	letter-spacing: 5px;
	line-height: 2em;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.howitworks-section .container {
  text-align: left;
}

.howitworks-section .map-particle-filter {
  font-size: 20px;
  font-family: "Source Sans Pro",sans-serif;
}

.howitworks-section a.btn {
  margin-top: 5px;
  margin-right: 10px;
}

#particle-filter-example {
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0;
  padding: 0;
  background-image: url("../../images/works/ECT/particle-filter-example_tiny.png");
}


/* Researchers
-------------------------------------------------- */
img.headshot{
  border-radius: 50%;
  /*margin-top:20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;*/
}

.researchers-section {
  min-height: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 90px;
  text-align: center;
  background: #fff;
}

.researchers-section .title {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight:bold;
  color: black;
  font-size: 3.25em;
	letter-spacing: 2px;
	line-height: 1.25em;
  text-decoration: none;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Orbitron', sans-serif;
}

/* Live Demo
-------------------------------------------------- */
.livedemo-section {
  min-height: 100%;
  height: 100%;
  padding-top: 100px;
  text-align: center;
  background: #eee;
}

.livedemo-section .title {
  text-transform: uppercase;
  font-weight:bold;
  color: black;
  font-size: 3.25em;
	letter-spacing: 2px;
	line-height: 1.25em;
  text-decoration: none;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Orbitron', sans-serif;
}


/* Button
==================================================================== */
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #f7f66d;
  border-radius: 100%!important;
  font-size: 40px;
  color: #f7f66d;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
  color: #fff;
  border-color: #fff;
  background: rgba(255,255,255,.3);
}



/* Image
==================================================================== */
.image {
  position: relative;
  display: inline-block;
  border: 0;
  outline: 0;
}

.image img {
  display: block;
  width: 100%;
}



/* Navigation Bar
==================================================================== */
/**
 * Default Setting
 */
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
  text-transform: uppercase;
  background-color: #fff;
}

/**
 * Adjust by screen-size
 */
@media(min-width:767px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .navbar-custom.top-nav-collapse {
    padding: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    background: #fff;
  }

  .navbar-custom.top-nav-collapse a {
    color: #444;
  }
}

/**
 * Default text-color
 */
.navbar-custom a {
  color: #ffffff;
}

/**
 * text-color when mouse hover it
 */
.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
  outline: 0;
  color: rgba(200,200,200,.8);
  background-color: transparent;
}

/**
 * text-color and background when navigating
 */
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
}

.navbar-custom .nav li.active {
  outline: 0;
}

.navbar-custom .nav li.active a {
  color: #fff;
  background-color: rgba(0,0,0,0.6);
}

.navbar-custom .nav li.active a:hover {
  color: #000;
}
